<p>Añadir comentario:</p>
<form action="/quizes/<%= quizid %>/comments/" method="post" >
	<div>
		<input type="text" id="comment" name="comment[texto]" value="" />
	</div>
	<button type="submit">Enviar</button>
</form>