<div class="limpiaFloats centra-bloque">
	<figure class="flota-izq figure__autor">
		<img src="/images/imagen_ruben.png" alt="imagen rubengglez" >
		<figcaption>Rubén García González</figcaption>
	</figure>
	<figure class="flota-der figure__video">
		<iframe width="200" height="150" src="https://www.youtube.com/embed/Y8ivF5GqzKo" frameborder="0" allowfullscreen></iframe>
	</figure>
</div>