<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Quiz</title>
	<link rel="stylesheet" href="/stulesheets/style.css" >
</head>
<body>
	<h2>Quiz: el juego de las preguntas</h2>
	<p><%= respuesta %></p>
	<a href="/quizes/question">Inténtalo otra vez</a>	
</body>
</html>