<h2>Login</h2>
<form action="/login" method="POST" >
	<div>
		<label for="login" class="rem">Login:</label>
		<input type="text" required size="30" id="login" name="login" placeholder="Usuario" /> 
	</div>
	<br>
	<div>
		<label for="password" class="rem">Password:</label>
		<input type="password" required id="password" name="password" placeholder="Password" size="30" /> 
	</div>
	<br>
	<input type="submit" value="Login" name="commit" > 
</form>